/node_modules
/Real Size
/img
/dist/!css
/dist/!fonts
/dist/!img
/dist/!js
/dist/!index.html
/src
/app
/magazine
/plants_in_interior
/selection_of_plants
/katalog-rasteniy copy
/plantsCard
/article
gulpfile.js
# index.html
