:root{
    --pink-color:#EEE4E2;
    --green-color:#3A4736;
}


@font-face {
	font-family:'Raleway400';
    src: url('fonts/Raleway-Regular400.ttf');
    font-weight: 400;
}
@font-face {
	font-family:'Raleway500';
    src: url('fonts/Raleway-Medium500.ttf');
    font-weight: 500;
}
@font-face {
	font-family:'Raleway600';
    src: url('fonts/Raleway-SemiBold600.ttf');
    font-weight: 600;
}



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}   

body{
    width: 100vw;
    margin: 0 auto;
    font-family:'Raleway400', 'Arial', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    color: var(--green-color);
    background-color: var(--pink-color);
    
}
h1{
    color: var(--green-color);
    font-family:'Raleway500', 'Arial', sans-serif;
    font-size: 36px;
    line-height: 20px;
    font-weight: 500;
    text-indent: 3px;
    padding-bottom: 30px;
}
p{
    font-family:'Raleway400', 'Arial', sans-serif;
    margin: 0 auto;
}
a{
    text-decoration: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    display: none;
}

body::-webkit-scrollbar{
    width: 10px;
    background-color: #f9f9fd;
}

body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #87957E;
}

body::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}
.nav-head__li{
    margin-left: 2px;
    margin-right: 0;
}

.container {
    max-width: 1210px;
    margin: 0 auto;
}
header ul li{
    list-style-type: none;
}
.header-main {
    background-color: #EDE1DE;
    min-width: 320px;
    top: 0;
    z-index: 100;
    width: 100%;
    position: sticky;
    border: 1px solid var(--green-color);
    border-radius:6px;
}

.header-main .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-main .header__container .header__left-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-main .header__container .header__left-block .main-logo__img {
    width: 111px;
    height: 51px;
    padding: 3px 0px 0px;
}
.header-main .header__container .header__left-block .left-block__nav-head {
    margin-left: 69px;
}

.header-main .header__container .header__left-block .left-block__nav-head .nav-head__ul {    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    list-style-type: none;
}

.header-main .header__container .header__left-block .left-block__nav-head .nav-head__ul .nav-head__li:nth-child(1) {
    margin-right: 40px;
}

.header-main .header__container .header__left-block .left-block__nav-head .nav-head__ul .nav-head__li:nth-child(2) {
    margin-right: 40px;
}

.header-main .header__container .header__left-block .left-block__nav-head .nav-head__ul .nav-head__li:nth-child(3) {
    margin-right: 40px;
}

.header-main .header__container .header__left-block .left-block__nav-head .nav-head__ul .nav-head__btn {
    color: #3A4736;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    -webkit-transition: -webkit-box-shadow 0.1s ease-out;
    transition: -webkit-box-shadow 0.1s ease-out;
    -o-transition: box-shadow 0.1s ease-out;
    transition: box-shadow 0.1s ease-out;
    transition: box-shadow 0.1s ease-out, -webkit-box-shadow 0.1s ease-out;
    padding: 4px;
    border-radius: 6px;
}

.header-main .header__container .header__left-block .left-block__nav-head .nav-head__ul .nav-head__btn:hover {
    box-shadow: 0 0 0 1px #87957E;
    color: rgba(58, 71, 54, 0.6549019608);
}

.header-main .header__container .header__right-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-main .header__container .header__right-block .right-block__search-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin-right: 20px;
}

.header-main .header__container .header__right-block .right-block__search-head .search-head__input {
    border: none;
    border-radius: 6px;
    background-color:rgba(81,80,81,.1490196078);
    width: 176px;
    height: 40px;
    padding: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    right: 0px;
    z-index: 12;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    outline: none;
}

.header-main .header__container .header__right-block .right-block__search-head .search-head__input::-moz-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.header-main .header__container .header__right-block .right-block__search-head .search-head__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.header-main .header__container .header__right-block .right-block__search-head .search-head__input:focus {
    width: 200px;
}

.header-main .header__container .header__right-block .right-block__search-head .search-head__btn {
    position: absolute;
    right: 11px;
    z-index: 13;
}

.header-main .header__container .header__right-block .right-block__search-head .search-head__btn .btn-head__img {
    fill: #87957E;
}

.header-main .header__container .header__right-block .right-block__search-head .search-head__btn .btn-head__img:hover {
    fill: black;
}

.header-main .header__container .header__right-block .right-block__btn-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-main .header__container .header__right-block .right-block__btn-head .btn-head__heart {
    margin-right: 22px;
}

.header-main .header__container .header__right-block .right-block__btn-head .heart__btn {
    width: 28px;
    height: 23px;
    fill: none;
}

.header-main .header__container .header__right-block .right-block__btn-head .heart__btn:hover {
    fill: #87957E;
}

.header-main .header__container .header__right-block .right-block__btn-head .person__btn {
    width: 28px;
    height: 23px;
    fill: none;
    stroke: black;
}

.header-main .header__container .header__right-block .right-block__btn-head .person__btn:hover {
    fill: #87957E;
    stroke: #87957E;
}

.main_block{
    width: 1210px;
    margin: 0 auto;
    margin-bottom: 28px;
    padding: 40px 14px 206px 12px;

    background: #FFFFFF;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.main_block_content_aboutSite{
    margin-bottom: 30px;

    font-family:'Raleway500', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    color: #3A4736;
}
.main_block_content_text{
    margin-bottom: 4px;

    font-family:'Raleway500', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: #3A4736;
}
.main_block_content_list{
    margin-bottom: 30px;
    margin-left: 30px;

    font-family:'Raleway500', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: #3A4736;
}
ul li{
    list-style-type: disc;
    
}
.bold{
    font-family:'Raleway600', 'Arial', sans-serif;
    font-weight: 600;
}
.block_content_button{
    display: block;
    margin: 0 auto;
    padding: 8px 10px;
    background: #87957E;
    border: 1px solid #3A4736;
    border-radius: 4px;

    font-weight: 'Raleway500', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    color: #3A4736;
    cursor: pointer;

}

footer {
    font-family:'Raleway400', 'Arial', sans-serif;
    background-color: #525D4D;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
  }
  footer ul li{
    list-style-type: none;
  }
  .footer-navigation {
    display: flex;
  }
  
  .footer-logo {
    width: 200px;
    height: 100px;
    display: block;

    margin-top: 75px;
    margin-bottom: 75px;
  }
  
  .footer-navigation-pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; 
  }
  
  .footer-navigation-column {
    padding-left: 0;
    padding-right: 0;
  }
  
  .navigation-column-link {
    color: #EDE1DE;
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    white-space: nowrap;
    list-style-type: none;
  }
  .footer-navigation-item{
    padding-left: 10px;
    height: auto;
    cursor: pointer;
  }
  .footer-navigation-user {
    margin: 0;
    margin-left: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;   
}