//WIDTH
$width-articles: 1300px;

//COLORS
$main-color: #EDE1DE;
$line-color: #87957E;
$articles-background: #fff;
$article-color: #C4C4C4;
$article-text-color: #3A4736;
$card-button-like: #D9D9D9;
$article-flag: #87957E;
$article-flag-text: #fff;


$border-radius: 6px;
$border-width: 3px;

$articles-line-border: $border-width solid $article-text-color;

//FONT-SIZES
$font-size: 20px;
$line-height: 20px;

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Raleway";
    font-style: normal;
    font-size: $font-size;
    line-height: $line-height;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #87957E;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}

.container {
    max-width: 1210px;
    margin: 0 auto;
}


main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    flex-grow: 1;
    background-color: $main-color;
}

.selection-text{
    font-size: $font-size + 4px;
    font-weight: 500;
}


.line-container{
    position: absolute;
    z-index: 2;
    top: 50%;
    width: 100%;
}
.line{
    width: 100%;
    height: 350px;
    background-color: $line-color;
}

.selection-line-container{
    position: absolute;
    z-index: 2;
    top: 190px;
    width: 100%;
}
.selection-line{
    width: 100%;
    height: 76px;
    background-color: $line-color;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    flex-grow: 1;
    background-color: $main-color;
}

.articles-wrapper{
    flex-grow: 1;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: $width-articles;
    max-height: 100vh;
    overflow: scroll;
    background-color: $articles-background;
}

.articles-wrapper::-webkit-scrollbar {
    width: 0;
}

.articles{
    display: flex;
    // flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    padding: 30px 0;
}

.articles-column{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.articles-end{
    margin: 0 auto;
    width: $width-articles;
    padding: 120px 0 60px;
    background-color: $articles-background;
    
}

.articles-line{
    margin: 0 auto;
    border-top: $articles-line-border;
    width: 500px;
}
.article{
    position: relative;
    width: 383px;
    height: fit-content;
   
    color: $article-text-color;
}


.article-image{
    position: relative;
    width: 383px;
    height: 400px;
    // border-radius: $border-radius;
    // background-color: $article-color;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
}

.article-image__image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: $border-radius $border-radius 0 0;
}

.article-image-flags{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.article-flag{
    width: 73px;
    display: flex;
    align-items: center;
    padding: 8px 9px;
    justify-content: space-around;
    border-radius: $border-radius $border-radius 0 0;
    background-color: $article-flag;
}

.article-flag-text{
    font-size: $font-size - 8px;
    color: $article-flag-text;
}

// .articles-column:nth-child(2n+1) .article:nth-child(2n+1) .article-image{
//     height: 338px;
// }
// .articles-column:nth-child(2n+1) .article:first-child .article-image .article-image__image{
//     height: 338px;
// }
// .articles-column:nth-child(2n) .article:last-child .article-image .article-image__image{
//     height: 338px;
// }


.articles-column:nth-child(2n+1) .article:first-child .article-image{
    height: 338px;
}
.articles-column:nth-child(2n) .article:last-child .article-image{
    height: 338px;
}



.article-title{
    font-size: $font-size + 4px;
    font-weight: 600;
    margin-bottom: 10px;
}

.article-link__wrapper{
    display: flex;
    justify-content: space-between;
}

.article-link{
    font-size: $font-size - 8px;
}

.article-button-favourite{
    position: absolute;
    // display: none;
    padding: 6px;
    width: 43px;
    height: 41px;
    text-align: center;
    border-radius: $border-radius;
    background-color: $card-button-like;
    top: 4px;
    right: 4px;
}