:root{
    --pink-color:#EEE4E2;
    --green-color:#3A4736;
}


@font-face {
	font-family:'Raleway400';
    src: url('fonts/Raleway-Regular400.ttf');
    font-weight: 400;
}
@font-face {
	font-family:'Raleway500';
    src: url('fonts/Raleway-Medium500.ttf');
    font-weight: 500;
}
@font-face {
	font-family:'Raleway600';
    src: url('fonts/Raleway-SemiBold600.ttf');
    font-weight: 600;
}



* {
    box-sizing: border-box;
}   

body{
    width: 100vw;
    margin: 0 auto;
    font-family:'Raleway400', 'Arial', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    display: none;
}

body::-webkit-scrollbar{
    width: 10px;
    background-color: #f9f9fd;
}

body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #87957E;
}

body::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}

.nav-head__li{
    margin-left: 2px;
    margin-right: 0;
}

.title {
    font-weight: 400;
    font-size: 32px;
    line-height: 20px;
    color: #3A4736;
}

.container {
    max-width: 1210px;
    margin: 0 auto;

    padding-top: 16px;
    padding-bottom: 16px;

    font-size: 20px;
    line-height: 20px;

}

.header-main {
    background-color: #EDE1DE;
    min-width: 320px;
    top: 0;
    z-index: 100;
    width: 100%;
    position: sticky;
}

.header-main .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-main .header__container .header__left-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-main .header__container .header__left-block .main-logo__img {
    width: 111px;
    height: 51px;
    padding: 3px 0px 0px;
}
.header-main .header__container .header__left-block .left-block__nav-head {
    margin-left: 69px;
}

.header-main .header__container .header__left-block .left-block__nav-head .nav-head__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-main .header__container .header__left-block .left-block__nav-head .nav-head__ul .nav-head__li:nth-child(1) {
    margin-right: 40px;
}

.header-main .header__container .header__left-block .left-block__nav-head .nav-head__ul .nav-head__li:nth-child(2) {
    margin-right: 40px;
}

.header-main .header__container .header__left-block .left-block__nav-head .nav-head__ul .nav-head__li:nth-child(3) {
    margin-right: 40px;
}

.header-main .header__container .header__left-block .left-block__nav-head .nav-head__ul .nav-head__btn {
    color: #3A4736;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    -webkit-transition: -webkit-box-shadow 0.1s ease-out;
    transition: -webkit-box-shadow 0.1s ease-out;
    -o-transition: box-shadow 0.1s ease-out;
    transition: box-shadow 0.1s ease-out;
    transition: box-shadow 0.1s ease-out, -webkit-box-shadow 0.1s ease-out;
    padding: 4px;
    border-radius: 6px;
}

.header-main .header__container .header__left-block .left-block__nav-head .nav-head__ul .nav-head__btn:hover {
    box-shadow: 0 0 0 1px #87957E;
    color: rgba(58, 71, 54, 0.6549019608);
}

.header-main .header__container .header__right-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-main .header__container .header__right-block .right-block__search-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin-right: 20px;
}

.header-main .header__container .header__right-block .right-block__search-head .search-head__input {
    border: 1px solid rgba(175, 175, 158, 0.6274509804);
    border-radius: 6px;
    background-color: #EDE1DE;
    width: 176px;
    height: 40px;
    padding: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    right: 0px;
    z-index: 12;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

.header-main .header__container .header__right-block .right-block__search-head .search-head__input::-moz-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.header-main .header__container .header__right-block .right-block__search-head .search-head__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.header-main .header__container .header__right-block .right-block__search-head .search-head__input:focus {
    width: 380px;   
}

.header-main .header__container .header__right-block .right-block__search-head .search-head__btn {
    position: absolute;
    right: 11px;
    z-index: 13;
}

.header-main .header__container .header__right-block .right-block__search-head .search-head__btn .btn-head__img {
    fill: #87957E;
}

.header-main .header__container .header__right-block .right-block__search-head .search-head__btn .btn-head__img:hover {
    fill: black;
}

.header-main .header__container .header__right-block .right-block__btn-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-main .header__container .header__right-block .right-block__btn-head .btn-head__heart {
    margin-right: 22px;
}

.header-main .header__container .header__right-block .right-block__btn-head .heart__btn {
    width: 28px;
    height: 23px;
    fill: none;
}

.header-main .header__container .header__right-block .right-block__btn-head .heart__btn:hover {
    fill: #87957E;
}

.header-main .header__container .header__right-block .right-block__btn-head .person__btn {
    width: 28px;
    height: 23px;
    fill: none;
    stroke: black;
}

.header-main .header__container .header__right-block .right-block__btn-head .person__btn:hover {
    fill: #87957E;
    stroke: #87957E;
}


.nav-head__ul{
    padding-left: 0;
  }
main{
    margin: 0 auto;
    background-color: var(--pink-color);
}
h2{
    font-family:'Raleway500', 'Arial', sans-serif;
    font-weight: 500;
}
li{
    list-style-type: none;
    text-decoration: none;
}
a{
    text-decoration: none;
}
p{
    font-size: 16px;
    line-height: 20px;
}
img{
    display: block;
}
.fikusConteiner{
    
    background-color:var(--pink-color);
    padding-bottom: 63px;
}
.fikusConteiner_titlePartConteiner{
   
    background-color:#87957E;
    border: 1px solid var(--green-color);
    border-radius: 6px;
    padding-top: 20px;
    padding-bottom: 60px;
}
.fikusConteiner_titlePartBlock{
    max-width: 1210px;

    margin: 0 auto;

    color: var(--pink-color);
}
.fikusConteiner_titlePartBlock h1{
    font-family:'Raleway500', 'Arial', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
.fikusConteiner_titlePartBlock ul {
    display: block;
    max-width: 1210px;
    padding-left: 0;
    margin: 0 auto;
}
.fikusConteiner_titlePartBlock ul li{
    display: inline;
}
.fikusConteiner_titlePartBlock a{
    font-size: 16px;
    line-height: 30px;
    color: var(--pink-color);
}
.fikusConteiner_titlePartBlock li:last-child a{
    color: var(--green-color);
}
.arrow{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: -2.5px;
}

.fikusConteiner_mainPartConteiner{
    padding: 0;
    width: 100%;
    background-color: var(--pink-color);
}
.fikusConteiner_mainPartConteiner_block{
    
    width: 1330px;
    margin: 0 auto;
    margin-top: -36px;
    padding-top: 54px;

    background-color: #FFFFFF;

    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.25);
    border-radius: 6px;

      
}
.fikusConteiner_mainPartConteiner_block_content{
    position: relative;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.image{
    display: block;
    position: absolute;
    top: 0;
    left: 146px;
    z-index: 2;
}
.image img{    
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    z-index: 5;
}
.fikusConteiner_content{
    position: absolute;
    top: 25px;
    left: 146px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 42%; 
    
    margin-left: -4.5px;
    z-index: 0;
}
.fikusConteiner_content_part{
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 40px;
    margin-bottom: 20px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

    background-color: var(--pink-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    border-radius: 0px 15px 15px 0px;
}
.one{   
    animation: ani 0.2s linear forwards;    
    
}
.two{
   
    animation: ani 0.35s linear forwards;
}
.three{
    
    animation: ani 0.5s linear forwards;
}
.four{
    
    animation: ani 0.65s linear forwards;
}
.five{
    
    animation: ani 0.8s linear forwards;
    
}
@keyframes ani {
    0% {
        transform: translateX(0);
    }
    100% {
      opacity: 1;
      transform: translateX(489px);
    }
}    
  
.fikusConteiner_content_text{

    display: flex;
    height: 50px;

    padding-left: 16px;

    color: var(--green-color);
}
.minPadding-text{
    padding-left: 8px;
}
.minPadding-img{
    padding-left: 36px;
}
.fikusConteiner_content_text p{

    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    padding-right: 10px;
}
.withoutBorder{
    border: none;
}

.fikusConteiner_content_block img{
    display: block;
    margin-left: 16px;
    margin-right: 36px;

}
.menuConteiner ul{
    display: flex;
    justify-content: flex-start;
    padding-left:0;
    margin: 0 auto;
    padding-bottom: 24px;
    padding-top: 40px;
    padding-left: 90px;
}
menu{
    margin: 0;
    margin-top: 410px;
}
.menuConteiner ul li{
    display: inline-block;
    border-right: 1px solid #87957E;
    padding-right: 14px;
    padding-left: 14px;

}
.menuConteiner ul li:last-child{
    border-right: none;

}
.menuConteiner a{
    position: relative;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #3A4736;
    opacity: 0.7;
}
.menuConteiner a:hover,
.menuConteiner a:focus{
    opacity: 1;
}
.menuConteiner a:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 1px;
	background-color: var(--green-color);
	content: "";
	-webkit-transition: width 0.2s;
    -o-transition: width 0.2s;
    transition: width 0.2s;
}

.menuConteiner a:hover:after,
.menuConteiner a:focus:after {
	width: 100%;
}
.textConteinerBlock{
    
    max-width: 1210px;
    margin: 0 auto;
}
.title{
    display: inline-block;
    background: #87957E;
    border: 1px solid var(--green-color);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    color: var(--pink-color);
}
.leftTitle{
    margin:0;
    margin-left: -120px;
    margin-left: -100%;
    width: 58%;
    height: 40px;
    transition-duration: 2,5s;
    
}
    

@keyframes leftTitleAni{
    0%{
        margin-left: -8000000px;
    }
    30%{
        margin-left:-500px;
    }
    60%{
        margin-left: -300px;
    }
    100%{
        margin-left: -120px;
    }
}
.leftTitle h2 {
    margin: 0 auto;
    padding-left: calc(100% - 580px);
}
.title h2{
    margin: 0 auto;
    padding-top: 8px;
    font-size: 24px;
    line-height: 20px;
    font-weight: 500;
}

.main_block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.slider{
    padding-top: 30px;

    width: 44%;
    border-right: 1px solid var(--green-color);
    margin: 0 auto;
    padding-bottom: 73px;
}
.slider_imageInterier_block{
    width: 80%;
    position: relative;
}
.slider_imageInterier_img{
    width: 100%;
    margin-bottom: 50px;
    border-radius: 6px;
}
.slider_imageInterier_block:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.slider_imageInterier_heart{
    position: absolute;
    top: 4px;
    right: 4px;

    padding: 4px 4px;

    background: rgba(217, 217, 217, 0.6);
    border-radius: 6px;

    cursor: pointer;
}
.hover{
    stroke: #DD4646;
}
.slider_imageInterierLink{
    display: inline-block;
    padding-left: 94px;
}

.slider_imageInterierLink a{
    display: inline-block;
    position: relative;

    margin-right: 12px;

    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    color: var(--green-color);
    opacity: 0.6;
}
.slider_imageInterierLink a:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 1px;
	background-color: var(--green-color);
	content: "";
	-webkit-transition: width 0.2s;
    -o-transition: width 0.2s;
    transition: width 0.2s;
}

.slider_imageInterierLink a:hover:after,
.slider_imageInterierLink a:focus:after {
	width: 100%;
}
.slider_imageInterierLink a:hover, 
.slider_imageInterierLink a:focus{
    opacity: 1;
}
.slider_imageInterierLink img{
    display: inline-block;
    margin-bottom: 2px;
}

.content{
    width: 56%;

    margin-top: 32px;
    margin-bottom: 100px;
}
.rightTitle{
    width: calc(100% + 120px);  
    margin-top: 6px;
    padding-left: 54px;
    margin-left: -36px;
    height: 40px;
}

@keyframes rightTitleAni{
    0%{
        margin-left: 8000000px;
    }
    30%{
        margin-left: 600px;
    }
    60%{
        margin-left: 300px;
    }
    100%{
        margin-left: -36px;
    }
}
.content_block_text{
    padding: 0 0 54px 20px;

    color: var(--green-color);
}
.content_block_text p{
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
}
h4{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: -14px;
}
.withoutPaddingTop{
    margin-top: -15px;
}
.line{
    width: 34%;
    height: 70px;
    margin: 0 auto;
    margin-top: 100px;

    border-top: 3px solid var(--green-color);
}


footer {
    background-color: #525D4D;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
  }
  .container{
    max-width: 1210px;    
    margin: 0 auto;
  }
  .footer-navigation {
    display: flex;
  }
  
  .footer-logo {
    width: 200px;
    height: 100px;
    display: block;

    margin-top: 75px;
    margin-bottom: 75px;
  }
  
  .footer-navigation-pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; 
  }
  
  .footer-navigation-column {
    padding-left: 0;
    padding-right: 0;
  }
  
  .navigation-column-link {
    color: #EDE1DE;
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    white-space: nowrap;
  }
  .footer-navigation-item{
    padding-left: 10px;
    height: auto;
    cursor: pointer;
  }
  .footer-navigation-user {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;   
}
  .icon-vk{
    margin-right: 10px;
  }
  .arrowTop{
    position: fixed;
    z-index: 1;
    bottom: 24px;
    right: 44px;
    /* opacity: 0.5; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
     align-items: center;
    display: none;
  }
  .arrowTop p{
    margin-top: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #3A4736;
  }

  .show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }