// WIDTH OF BLOCKS
$width-body: 100%;
$width-site: 1210px;
$width-button: 190px;
$height-button: 35px;

//COLORS
$background-color-site: #EDE1DE;
$background-color-calendar: #fff;
$card-button-color: #fff;
$font-color: #EEE4E2;
$green-color: #87957E;
$title-color: #3A4736;
$border-color: #3A4736;
$footer-color: #525D4D;
$card-button-like: #D9D9D9;


//FONT-SIZES
$font-size: 20px;
$line-height: 20px;

//PADDINGS AND MARGINS
$padding-link: 14px;
$common-padding: 50px;

$border-width: 1px;
$border: $border-width solid $border-color;
$border-transparent: $border-width solid transparent;
$border-radius: 6px;
$border-radius-circle: 10px;

$text-decoration: none;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $background-color-site;
    max-width: $width-body;
    font-family: 'Raleway', sans-serif;
    font-size: $font-size;
    line-height: $line-height;
}

a{
    text-decoration: $text-decoration;
}

ul{
    list-style-type: none;
}

.hidden{
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    margin: -1px;
}


.container{
    max-width: $width-site;
    margin: 0 auto;
}


/* SECTION CALENDAR */
main{
    flex-grow: 1;
}

.wrapper-calendar{
    background-color: $background-color-calendar;
}

.calendar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $common-padding / 2 - 5px 0;
}

.calendar-button-close{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 115px;
    top: 10px;
    cursor: pointer;
}

.action-title{
    font-weight: 500;
    color: $title-color;
}

.action-link{
    display: block;
    width: $width-button;
    height: $height-button;
    background-color: $green-color;
    border: $border;
    color: $background-color-calendar;
    border-radius: $border-radius;
    text-align: center;
    padding-top: $padding-link - 7px;
    margin-right: 82px;
    box-shadow: 4px 4px 9px 1px rgba(135, 149, 126, 0.73);
}


// SECTION SELECTION
.wrapper-selection{
    border-bottom: $border;
    border-top: $border;
    background-color: $green-color;
}
.selection{
    color: $font-color;
    padding: $common-padding - 20px 0 $padding-link + 10px;
}

.selection-title{
    font-weight: 600;
    margin-bottom: $padding-link + 6px;
}

.selection-text{
    margin-bottom: 30px;
}


//SECTION PHOTOCARDS
.photocards{
    display: flex;
    flex-wrap: wrap;
    // padding: 0 218px;
    justify-content: space-between;
    margin-bottom: $common-padding + 10px;
}

.card{
    display: flex;
    position: relative;
    border-radius: $border-radius;
    align-self: center;
    width: 450px;
    height: 450px;
    cursor: pointer;
}

.card:nth-child(2n){
    margin-top: 80px;
}

.card:last-child{
    margin-top: 50px;
}


.card-image{
    position: relative;
    z-index: 1;
    border: $border;
    border-radius: $border-radius;
    width: 450px;
}

.card-button{
    z-index: 2;
    position: absolute;
    display: none;
    // visibility: hidden;
    width: 200px;
    height: 60px;
    background-color: $card-button-color;
    color: $title-color;
    border: $border;
    border-radius: $border-radius;
    text-align: center;
    padding-top: 20px;
}

.card-button-circle{
    content: "";
    display: none;
    position: absolute;
    z-index: 2;
    width: 18px;
    height: 18px;

    background: $card-button-color;
    box-shadow: 2px 2px 8px 1px rgba(135, 149, 126, 0.95);
    border-radius: $border-radius-circle;
}

.card-button-like{
    z-index: 4;
    position: absolute;
    // display: none;
    padding: 6px;
    width: 43px;
    height: 41px;
    text-align: center;
    border-radius: $border-radius;
    background-color: $card-button-like;
    top: 4px;
    right: 4px;
}

.card-button-like:hover .button-like-image path{
    stroke: #DD4646;
}



//FIRST CARD
// .card:first-child .card-button-circle:nth-child(3){
//     padding-top: 10px;
// }
// .card:first-child .card-button-circle:first-child{
//     top: 22%;
//     left: 40%;
// }
// .card:first-child .card-button-circle:nth-child(2){
//     top: 40%;
//     right: 20%;
// }
// .card:first-child .card-button-circle:nth-child(3){
//     top: 45%;
//     right: 1%;
// }
// .card:first-child .card-button-circle:nth-child(4){
//     top: 50%;
//     left: 40%;
// }

//SECOND CARD
// .card:nth-child(2) .card-button:first-child{
//     top: 40%;
//     right: 5%;
// }
// .card:nth-child(2) .card-button:nth-child(2){
//     top: 45%;
//     left: 6%;
//     padding-top: 10px;
// }

//THIRD CARD
.card:first-child .card-button-circle:first-child{
    top: 12%;
    left: 43%;
}
.card:first-child .card-button-circle:nth-child(2){
    top: 55%;
    left: 60%;
}
.card:first-child .card-button-circle:nth-child(3){
    top: 35%;
    left: 30%;
    padding-top: 10px;
}
.card:first-child .card-button-circle:nth-child(4){
    top: 30%;
    left: 5%;
}
//SECTION PHOTOCARDS BUTTONS
.photocards-buttons{
    margin-bottom: 194px;
}
.more-button{
    display: block;
    width: 384px;
    height: $padding-link * 2;
    margin: 0 auto $common-padding;
    font-size: $font-size;
    line-height: $line-height;
    color: $font-color;
    background-color: $green-color;
    border: $border;
    border-radius: $border-radius;
}
.buttons-pages{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.number-buttons{
    display: flex;
    gap: 30px;
    
}

.button{
    font-size: $font-size - 4px;
    line-height: $line-height;
    width: 177px;
    height: $padding-link * 2 + 2px;
    color: $font-color;
    background-color: $green-color;
    border: $border;
    border-radius: $border-radius;
    // cursor: pointer;
}

.number{
    padding-top: 5px;
    text-align: center;
    width: 30px;
    height: 30px;
    border: $border;
    border-radius: $border-radius;
}

.number-link{
    display: block;
    font-family: 'Roboto', sans-serif;
    color: $title-color;
}

//LINE
.line{
    margin: 0 auto $common-padding * 2;
    width: $common-padding * 10;
    border-top: 4px solid $border-color;
}
