//WIDTH
$width-wrapper: 1300px;
$width-container: 1210px;

//COLORS
$main-color: #EDE1DE;
$line-color: #87957E;
$wrapper-background: #fff;
$article-color: #C4C4C4;
$article-text-color: #3A4736;
$article-title-color: #EEE4E2;
$card-button-like: #D9D9D9;
$article-flag: #87957E;
$article-flag-text: #fff;
$border-color: #87957E;

$border-radius: 6px;
$border-width: 3px;
$btn-border-width: 1px;

$btn-border: $btn-border-width solid $border-color;
$articles-line-border: $border-width solid $article-text-color;
$card-buttons-border: $btn-border-width solid $article-text-color;

//FONT-SIZES
$font-size: 20px;
$line-height: 20px;

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Raleway";
    font-style: normal;
    font-size: $font-size;
    line-height: $line-height;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #87957E;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}

.hidden{
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    margin: -1px;
}

.container {
    max-width: $width-container;
    margin: 0 auto;
}


main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    flex-grow: 1;
    background-color: $main-color;
}

.wrapper{
    position: relative;
    z-index: 2;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: $width-wrapper;
    min-height: 100vh;
    background-color: $wrapper-background;
}

.main-line{
    height: 150px;
    z-index: 1;
    width: 100%;
    background-color: $line-color;
    position: absolute;
    top: 0;
}

//Начало заголовка и текста
.main-text-wrapper{
    padding: 30px 0 55px;
    color: $article-text-color;
}

.main-title{
    font-size: 36px;
    margin-bottom: 20px;
}

.main-text{
    font-size: 17px;
    line-height: 23px;
}
//конец заголовка и текста

//Начало секции с кнопками выборки
.main-buttons-wrapper{
    margin-bottom: 30px;
}

.popular-last-links{
    display: flex;
    gap: 18px;
    margin-bottom: 33px;
}

.popular-last-link{
    color: $article-text-color;
    font-size: 17px;
    line-height: 23px;
    transition: .3s;
}

.buttons-list{
    display: flex;
    justify-content: space-between;
}

.button-item{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $article-flag;
    width: 177px;
    height: 50px;
    border: $btn-border;
    border-radius: $border-radius;
}
//Конец секции с кнопками выборки

//начало секции с картинками
.container__cards{
    position: relative;
    z-index: 5;
}

.cards-wrapper{
    display: flex;
    gap: 30px;
    max-height: 100vh;
    flex-grow: 1;
    overflow: scroll;
}

.cards-wrapper::-webkit-scrollbar {
    width: 0;
}


.cards-column{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card{
    display: flex;
    position: relative;
    border-radius: $border-radius;
    align-self: center;
    width: 383px;
    height: 350px;
    cursor: url("../img/cursorPlus.svg"), auto;
}

.cards-column:nth-child(2n+1) .card:first-child{
    height: 500px;
}
.cards-column:nth-child(2n) .card:last-child{
    height: 500px;
}
.card-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
}

.second-cards-column>.card{
    display: flex;
    position: relative;
    border-radius: $border-radius;
    align-self: center;
    width: 795px;
    height: 350px;
    cursor: pointer;
}

.card-button {
    z-index: 4;
    position: absolute;
    width: 200px;
    height: 60px;
    background-color: $article-flag-text;
    color: $article-text-color;
    border: $card-buttons-border;
    border-radius: 6px;
    text-align: center;
    padding-top: 20px;
}
  
.card-button-circle {
    content: "";
    display: flex;
    opacity: 0;
    position: absolute;
    z-index: 4;
    width: 18px;
    height: 18px;
    background: $article-flag-text;
    box-shadow: 2px 2px 8px 1px rgba(135, 149, 126, 0.95);
    border-radius: 10px;
    transition: .7s;
}

.card-button-like{
    z-index: 4;
    position: absolute;
    padding: 6px;
    width: 43px;
    height: 41px;
    text-align: center;
    border-radius: $border-radius;
    background-color: $card-button-like;
    top: 4px;
    right: 4px;
}

.card-button-like:hover .button-like-image path{
    stroke: #DD4646;
}
//конец секции с картинками

//начало секции статьи
.articles-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    // top: 50%;
    padding: 62px 0 96px;
    background-color: $line-color;
}

.articles__container{
    position: relative;
    z-index: 3;
}

.top-articles-line, .bottom-articles-line{
    position: absolute;
    z-index: 2;
    height: 76px;
    width: 100%;
    background-color: $line-color;
}
.top-articles-line{
    top: -75px;
}

.bottom-articles-line{
    bottom: -75px;
}

.articles{
    display: flex;
    gap: 30px;
    max-width: 960px;
    justify-content: space-evenly;
    padding-top: 30px;
    overflow: scroll;
}

.articles::-webkit-scrollbar {
    width: 0;
}

.articles-title{
    color: $article-title-color;
}

.article-card{
    width: 280px;
    height: fit-content;
    transition: .5s;
    color: $article-title-color;
}

.article-image{
    position: relative;
    width: 280px;
    height: 183px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
}

.article-image__image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
}

.article-title{
    font-size: $font-size + 4px;
    // font-weight: 600;
    margin-bottom: 10px;
}

.article-link__wrapper{
    display: flex;
    justify-content: space-between;
}

.article-link{
    font-size: $font-size - 8px;
    color: $article-text-color;
}

.article-button-favourite{
    position: absolute;
    padding: 6px;
    width: 43px;
    height: 41px;
    text-align: center;
    border-radius: $border-radius;
    background-color: $card-button-like;
    top: 4px;
    right: 4px;
}
//конец секции статьи