*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

.select {
    position: relative;
    display: block;
    width: 280px;
}

.select__head {
    width: 100%;
    border: 1px solid #3A4736;
    border-radius: 6px;
    padding: 8px;
    font-size: 20px;
    line-height: 20px;
    color: #3A4736;
    background-color: #fff;
    cursor: pointer;
}

.select__head::after {
    width: 10px;
    height: 6px;
    position: absolute;
    background: url(../img/arrow_down.svg) no-repeat;
    right: 20px;
    bottom: 45%;
    transform: translateY(50%);
    content: '';
    display: block;
    transition: .2s ease-in;
}

.select__list {
    position: absolute;
    width: 100%;
    top: 120%;
    left: 0;
    right: 0;
    border: 1px solid lightslategray;
    border-radius: 6px;
    z-index: 10;
    font-size: 20px;
    color: #3A4736;
    background-color: #fff;
    
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;

    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

.select__list .select__item {
    position: relative;
    padding: 8px;
    cursor: pointer;
    list-style-type: none;
}

.select__item:first-child{
    border-radius: 6px 6px 0 0;
}
.select__item:last-child{
    border-radius: 0 0 6px 6px;
}
.select__list .select__item:hover {
    background-color: #EEE4E2;
}

.select:hover .select__list {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}

.select:hover .select__head::after {
    transform: translateY(50%) rotate(180deg);
}